
<div class="container">
  <h2 class="page-title">エールをおくる</h2>
  <div class="form">
    <%= form_with model: @yell do |f| %>
      <div class="cp_iptxt">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="cp_iptxt">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <%= f.submit "登録する", class: "btn btn-custom" %>
    <% end %>
  </div>

</div>