<div class="container">
  <div class="title-wrapper">
    <p>がんばるあなたへ<br>心からのエールを</p>
  </div>
  <%= image_tag asset_path('yell_top.png'), class: 'success-img', size: '150x170'%>
  <div class="btn-wrapper">
    <%= link_to "yells/show", class: "btn btn-custom btn-receive" do%>
      <span class="btn-custom-front"><%= icon('fa-regular', 'face-smile') %> エールをうけとる</span>
      <i class="fas fa-angle-right fa-position-right"></i>
    <% end %>

    <%= link_to "yells/new", class: "btn btn-custom btn-send" do%>
      <span class="btn-custom-front"><%= icon('fa-solid', 'pen') %> エールをおくる</span>
      <i class="fas fa-angle-right fa-position-right"></i>
    <% end %>
  </div>
</div>
